<div class="nickname">
  <%= link_to customers_path(customer_id: post.customer.id), class: "badge-bg badge badge-pill badge-secondary" do %>
    <% if post.customer.is_hidden? %>
      非公開ユーザー
    <% elsif post.customer.is_deleted? %>
      退会済ユーザー
    <% elsif post.customer == current_customer %>
      自分の投稿
    <% else %>
      <%= post.customer.nickname %>
    <% end %>
  <% end %>
</div>