<h1>投稿一覧</h1>
<% @posts.each do |post| %>
  <%= render 'public/posts/posts_name', post: post %>
  <%= render 'post_index', post: post %>
<% end %>
<div class="pagination">
  <%= paginate @posts, theme: 'bootstrap-5' %>
</div>
