<div class="row">
  <div class="col-4">
    <%= render 'public/playgrounds/playground_show', playground: @post.playground %>
  </div>
  <div class="col-8">
    <h1>新規投稿</h1>
    <%= render 'form', post: @post %>
  </div>
</div>

