<h1>遊び場を探す</h1>

<h2>キーワードで探す</h2>
<%= form_with(url: places_search_path, remote: true, method: :get, id: 'search-f') do |f| %>
  <%= f.text_field :keyword, placeholder: 'キーワードを入力してください' %>
  <%= f.submit '検索' %>
<% end %>

<h2>絞り込んで検索</h2>

