<div class="col-sm-12 col-md-11 col-lg-9 col-xl-7 mx-auto">
  <h1>タグ一覧・追加</h1>
  <%= render 'form', tag: @tag %>
  
  <div class="col-md-10 ml-0 mt-4 px-0">
    <table class="table">
      <thead>
        <tr>
          <th class="bg-light col-4 col-sm-3">タグ</th>
          <th class="bg-light col-4 col-sm-3"></th>
        </tr>
      </thead>
      <tbody>
        <% @tags.each do |tag| %>
          <tr>
            <td><%= tag.name %></td>
            <td>
              <%= link_to edit_admin_tag_path(tag), class: "btn btn-sm btn-success mr-4 mb-sm-0 mb-2" do %>
                <i class="fa-solid fa-pen-to-square"> 編集する</i>
              <% end %>
              <%= link_to admin_tag_path(tag), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-danger" do %>
                <i class="fa-solid fa-trash"> 削除する</i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>