<%= search_form_for @q, url: url do |f| %>
  <div class="d-flex">
    <%= f.search_field :title_or_text_cont, class: 'form-control mr-2', placeholder: 'タイトルor本文', style: "width: 200px;" %>
    <%= f.search_field :playground_name_cont, class: 'form-control mr-2', placeholder: '遊び場名', style: "width: 200px;" %>
    <%= f.search_field :customer_name_cont, class: 'form-control mr-2', placeholder: '投稿者名', style: "width: 150px;" %>
    <button class="btn btn-outline-success" type="submit" style="width: 80px; ">
      検索 <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
<% end %>
