// 管理者並び替え
.admin-keyword-sort{
  width: 120px;
}
// 管理者検索ボタン
.admin-search-btn{
  width: 80px;
}

// 管理者検索入力欄
.admin-search-input-customer{
  width: 150px;
}
.admin-search-input{
  width: 200px;
}

.admin-ransack-search{
  width: 250px;
}