@import "~bootstrap/scss/bootstrap.scss";
@import "~toastr/toastr";
@import "./customer";
@import "./admin";

* {
  font-family: 'Noto Sans JP', sans-serif;
  box-sizing: border-box;
}

:not(.btn, .badge, .fa-solid, .toast-message, .status, .fa-comment-dots, .top-btn) {
  color: #4d4d4d;
}

.main {
  max-width: 1440px;
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;
  margin-right: auto;
  margin-left: auto;
}

header, footer {
  background-color: #f4ead4;
}

.navbar-light .navbar-nav .nav-link {
  color: #4d4d4d;
}

main, .nav-link{
  background-color: #FFFEF9;
}

// リンクホバー時の色変え
a:hover {
  color: #6699CC;
  text-decoration: none;
}

// main領域が少ない時footer固定化
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
main {
  flex: 1;
}
  
// toast表示位置調整
.toast-top-right {
  top: 100px;
}

// エラー時フォームの色変化
div.field_with_errors input {
  background-color: #fce4b4;
}

// ページネーション
.pagination {
  justify-content: center;
  margin-top: 10px;
}
.page-link {
  color: #6699CC;
}
.page-item.active .page-link{
  background-color: #6699CC;
  border-color: #6699CC;
}

.top-border {
  border-top: 1px dotted #4d4d4d;
}

h1 {
  width: fit-content;
  font-size: 36px;
  position: relative;
  padding-left: 1.2em;
  margin-bottom: 15px;
  color: #9c8c84; // 候補 #c9b986
}

h1:before {
  font-family: "Font Awesome 5 Free";
  content: "\f1bb";/*アイコンのユニコード*/
  font-weight: 900;
  position: absolute;
  font-size: 1em;
  left: 2px;
  top: 2px;
  color: #c0ca80;
}

h2 {
  margin-left: 3%;
  margin-bottom: 13px;
  font-size: 26px;
  width: fit-content;
  position: relative;
}
h2:after {
  content: "";
  position: absolute;
  top: 29px;
  left: 0;
  bottom: 0;
  width: 150%;
  height: 4px;
  background: -webkit-repeating-linear-gradient(-45deg, #CAC280, #CAC280 2px, #fff 2px, #fff 4px);
  background: repeating-linear-gradient(-45deg, #CAC280, #CAC280 2px, #fff 2px, #fff 4px);
}

h3 {
  position: relative;
  font-size: 18px;
  width: fit-content;
}
h3:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 110%;
  height: 1.5px; 
  background-color: #b8b7ab; 
}
main h3:after {
  width: 100%;
}

// 緑ボタン
.btn-green {
  color: #fff;
  background-color: #b2c72c;
  &:hover {
    color: #fff;
    background-color: #92a322;
  }
}
// 青ボタン
.btn-blue {
  color: #fff;
  background-color: #6699CC;
  &:hover {
    color: #fff;
    background-color: #527aa3;
  }
}
// 赤ボタン
.btn-red {
  color: #fff;
  background-color: #EC5766;
  &:hover {
    color: #fff;
    background-color: #c74854;
  }
}

// 黄色ボタン
.btn-yellow {
  color: #fff;
  background-color: #fcce42;
  &:hover {
    color: #fff;
    background-color: #e3b93b;
  }
}

// 緑アウトラインボタン
.btn-outline-green {
  color: #89CA25;
  border-color: #89CA25;
  &:hover {
    color: #fff;
    background-color: #97B170;
    border-color: #97B170;
  }
}
// 青アウトラインボタン
.btn-outline-blue {
  color: #6699CC;
  border-color: #6699CC;
  &:hover {
    color: #fff;
    background-color: #6699CC;
    border-color: #6699CC;
  }
}
// 黄色アウトラインボタン
.btn-outline-yellow {
  color: #fcce42;
  border-color: #fcce42;
  &:hover {
    color: #fff;
    background-color: #fcce42;
    border-color: #fcce42;
  }
}

// 青
.blue {
  color: #6699CC;
  &:hover {
    color: #527aa3;
  }
}
// 赤
.red {
  color: #EC5766;
  &:hover {
    color: #c74854;
  }
}

.custom-button {
  background-color: #fff;
  border-radius: 0 0.25rem 0.25rem 0;
}

@media screen and (min-width: 375px)  and ( max-width: 768px){ 
  /*　画面サイズが480pxからはここを読み込む　*/


}

@media screen and (min-width: 768px) and ( max-width: 1024px) {
    /*　画面サイズが768pxから1024pxまではここを読み込む　*/

}

@media screen and (min-width: 1024px) {
    /*　画面サイズが1024pxからはここを読み込む　*/
 
}
