@import "~bootstrap/scss/bootstrap.scss";
@import "~toastr/toastr";


// main領域が少ない時footer固定化
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
main {
  flex: 1;
}

// toast表示位置調整
.toast-top-right {
  top: 100px;
}

// エラー時フォームの色変化
div.field_with_errors input {
  background-color: #fce4b4;
}
