<footer class="footer" style="background-color: #f4e4d4;">
  <div class="container">
    <div class="row mt-2">
      <div class="col-md-6 my-auto">
        <h5>ChildrenPG</h5>
        <p>遊び場検索・保存サイト</p>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li><a href="#">ホーム</a></li>
          <li><a href="#">遊び場一覧</a></li>
          <li><a href="#">サイト説明</a></li>
          <li><a href="#">プライバシーポリシー</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
          <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
          <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
        </ul>
      </div>
    </div>
    
    <hr class="my-0">
    <div class="text-center">
      <p class="my-2">&copy; 2023 ChildrenPG. All rights reserved.</p>
    </div>
  </div>
</footer>
